.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  background-color: #1c1c1c;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 20px;
  grid-area: header;

  .headerOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .greet {
    width: 100%;
    text-align: left;
    margin: 0;
    font-weight: 400;
    font-size: clamp(1rem, 1.2vw, 3rem);

    & span {
      font-weight: 600;
      color: #0bd08a;
    }
  }
}

.hamburgerIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  display: none;
}

@media screen and (max-width: 1200px) {
  .hamburgerIcon {
    display: block;

    & button {
      display: block;
      background-color: transparent;

      &:focus-visible {
        outline: none;
      }
    }
  }
}
